


#MYSQL VARIABLES
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_PORT=
DB_NAME=
BEARER_TOKEN=

#AMAZON AWS VARIABLES
AWS_ACCESS_KEY_ID=
AWS_DEFAULT_REGION=
AWS_SECRET_ACCESS_KEY=

#SQS VARIABLES
ORDER_QUEUE_URL=

#AMBEV - PROMAX VARIABLES
PROMAX_IP=

#PERNOD - PERNOD VARIABLES
PERNOD_API_URL=
PERNOD_CLIENT_ID=
PERNOD_CLIENT_SECRET=